body {
  background-color: black;
  color: rgb(0, 238, 0);
}

.stepBox {
  border: solid rgb(0, 238, 0);
  border-width: 1px;
  padding: 10px;

}

.mainBox {
  margin-top: 20px;
  width: 275px;
  border: solid rgb(0, 238, 0);
  box-shadow: 0px 0px 4px 4px rgb(0, 238, 0);
  border-width: 1px;
  padding: 10px;
  
}

input {
  margin: 5px;
}

.slider {
  float: right;
}

.btn {
  margin: 10px;
}

.active {
  background-color: rgb(68, 68, 68);
  border: solid rgb(86, 0, 157);
  border-width: 1px;
  padding: 10px;
}

.controlBox {
  margin-top: 20px;
  width: 275px;
  border: solid rgb(0, 238, 0);
  box-shadow: 0px 0px 4px 4px rgb(0, 238, 0);
  border-width: 1px;
  padding: 10px;
  height: auto;
}